In [4]:
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.65,test_size=0.35, random_state=101)

NameError: name 'model_selection' is not defined

In [5]:
from sklearn.model_selection import KFold 
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]]) 
y = np.array([1, 2, 3, 4]) 
kf = KFold(n_splits=2)  #реализация разбиения
kf.get_n_splits(X) #возвращает количество разбиений
kf.split(X) #возвращает индексы для разбиения

In [6]:
from sklearn.model_selection import train_test_split
import pandas as pd
vis_data = pd.read_csv("train_1.csv", encoding = 'ISO-8859-1', low_memory = False)

In [7]:
vis_data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [8]:
train, valid = train_test_split(vis_data, test_size=0.3, shuffle=False)

In [9]:
result = valid['payment_amount'].mean()

In [11]:
result

34.13839024130401

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', затем избавьтесь от пропусков. Целевой переменной будет 'balance_due', разделите данные на обучающую и тестовую выборки в соотношении 70% на 30% без перемешивания. Обучите линейную регрессию из scikit-learn и запишите в переменную result значение метрики RMSE на тестовой выборке.

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("train_1.csv", encoding = 'ISO-8859-1', low_memory = False)

In [13]:
vis_data.columns

Index(['ticket_id', 'agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [16]:
vis_data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due']]

In [23]:
vis_data.dropna(axis = 0, inplace=True)

In [24]:
vis_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250305 entries, 0 to 250305
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   fine_amount      250305 non-null  float64
 1   state_fee        250305 non-null  float64
 2   late_fee         250305 non-null  float64
 3   discount_amount  250305 non-null  float64
 4   balance_due      250305 non-null  float64
dtypes: float64(5)
memory usage: 11.5 MB

In [25]:
X = vis_data.drop(columns=['balance_due'])
y = vis_data['balance_due']
X_train, X_test, y_train, y_test = train_test_split(X,y, shuffle=False, test_size = 0.3)

In [27]:
from sklearn.linear_model import LinearRegression
model = LinearRegression() #Обозначаем, что наша модель - линейная регрессия
model.fit(X_train,y_train) #обучаем модель на обучающих данных

LinearRegression()

In [28]:
y_pred = model.predict(X_test)
y_pred

array([-1.29353045, -0.8980372 ,  5.5851309 , ...,  4.63886831,
        4.63886831,  4.63886831])

In [30]:
from sklearn import metrics
import math
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = math.sqrt(MSE)

In [31]:
result = RMSE

132.08033445901268

In [32]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score 
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score 
from sklearn.metrics import cohen_kappa_score

In [33]:
import numpy as np
from sklearn.metrics import accuracy_score
arr_1 = np.ones(100)
arr_2 = np.ones(100)
arr_1[0] = 0
print(np.round(accuracy_score(arr_1, arr_2),2))

0.99

Задание
Попробуйте построить модель, предсказывающую пол обладателя записи голоса.

In [46]:
from sklearn.model_selection import train_test_split
import pandas as pd
voice = pd.read_csv("voiceDataSet.csv", encoding = 'ISO-8859-1', low_memory = False)

In [35]:
voice.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [36]:
voice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3168 non-null   float64
 1   sd        3168 non-null   float64
 2   median    3168 non-null   float64
 3   Q25       3168 non-null   float64
 4   Q75       3168 non-null   float64
 5   IQR       3168 non-null   float64
 6   skew      3168 non-null   float64
 7   kurt      3168 non-null   float64
 8   sp.ent    3168 non-null   float64
 9   sfm       3168 non-null   float64
 10  mode      3168 non-null   float64
 11  centroid  3168 non-null   float64
 12  meanfun   3168 non-null   float64
 13  minfun    3168 non-null   float64
 14  maxfun    3168 non-null   float64
 15  meandom   3168 non-null   float64
 16  mindom    3168 non-null   float64
 17  maxdom    3168 non-null   float64
 18  dfrange   3168 non-null   float64
 19  modindx   3168 non-null   float64
 20  label     3168 non-null   object
dtypes: float64(20), object(1)
memory usage: 519.9+ KB

In [47]:
X = voice.drop(columns=['label'])
y = voice['label']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 42)

In [48]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [50]:
y_pred = model.predict(X_test)
y_pred

array(['female', 'male', 'male', 'female', 'female', 'female', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'male', 'male', 'male', 'female',
       'female', 'female', 'male', 'female', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'female', 'female', 'male',
       'female', 'female', 'female', 'male', 'female', 'male', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'female', 'female', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'female', 'female', 'male',
       'male', 'female', 'male', 'male', 'male', 'male', 'female',
       'female', 'female', 'female', 'male', 'male', 'male', 'female',
       'female', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'female', 'female', 'male', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'male', 'female', 'male', 'female', 'female', 'female', 'female',
       'male', 'female', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'female',
       'female', 'male', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'female', 'female', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'female', 'female', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'female',
       'male', 'female', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'male', 'female', 'female', 'male',
       'male', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female',
       'female', 'male', 'male', 'male', 'female', 'male', 'female',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'female', 'female', 'male', 'female',
       'female', 'female', 'female', 'female', 'female', 'female', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'male', 'female', 'male', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'female', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'female', 'female', 'male', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'female', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'male', 'female',
       'female', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'male', 'male', 'male', 'male', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'female', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'female', 'female', 'female', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'male', 'female', 'female', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'female', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'male', 'female', 'female',
       'female', 'female', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'female',
       'female', 'female', 'male', 'female', 'female', 'female', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'female', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'male',
       'female', 'female', 'female', 'female', 'female', 'male', 'female',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'female', 'male', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'male', 'female', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'female'], dtype=object)

In [51]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)
print(acc)

0.9726603575184016

In [62]:
glass = pd.read_csv("glass.csv", encoding = 'ISO-8859-1', low_memory = False)

In [53]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [54]:
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [55]:
glass['Type'].value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

In [65]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, KFold
X = glass.drop(['Type'], axis = 1)
y = glass['Type']
model=KNeighborsClassifier(n_neighbors=3)
kf = KFold(n_splits=10)
acc = cross_val_score(model, X, y, cv=kf, scoring="accuracy")

In [66]:
acc.mean()

0.5257575757575758

In [61]:
acc

array([0.55835962, 0.67192429, 0.70977918, 0.58675079, 0.77287066,
       0.45741325, 0.58675079, 0.69716088, 0.6835443 , 0.42405063])

In [88]:
heart = pd.read_csv("heart_fin1.csv", encoding = 'ISO-8859-1', low_memory = False, sep = ';')

In [89]:
heart.head()

   age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233        0      150      0      2.3       1
1   37    1   2       130   250        1      187      0      3.5       1
2   41    0   1       130   204        0      172      0      1.4       1
3   56    1   1       120   236        1      178      0      0.8       1
4   57    0   0       120   354        1      163      1      0.6       1

In [90]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   restecg   303 non-null    int64
 6   thalach   303 non-null    int64
 7   exang     303 non-null    int64
 8   oldpeak   303 non-null    float64
 9   target    303 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 23.8 KB

In [91]:
heart.describe()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.528053,149.646865,0.326733,1.039604,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.525860,22.905161,0.469794,1.161075,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,71.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,133.500000,0.000000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,1.000000,153.000000,0.000000,0.800000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,1.000000,166.000000,1.000000,1.600000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,2.000000,202.000000,1.000000,6.200000,1.000000

In [92]:
columns = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
for column in columns:
    Q25 = heart[column].quantile(0.25)
    Q75 = heart[column].quantile(0.75)
    IQR = Q75 - Q25
    l_bound = Q25 - 1.5*IQR
    r_bound = Q75 + 1.5*IQR
    heart = heart[(heart[column] <= r_bound) & (heart[column] >= l_bound)]

In [93]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       284 non-null    int64
 1   sex       284 non-null    int64
 2   cp        284 non-null    int64
 3   trestbps  284 non-null    int64
 4   chol      284 non-null    int64
 5   restecg   284 non-null    int64
 6   thalach   284 non-null    int64
 7   exang     284 non-null    int64
 8   oldpeak   284 non-null    float64
 9   target    284 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 24.4 KB

In [127]:
X = heart.drop(columns=['target'])
y = heart['target']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.15, random_state = 5)

In [128]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter = 1000, random_state=5)
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=5)

In [129]:
y_pred = model.predict(X_test)

In [130]:
from sklearn.metrics import roc_curve, roc_auc_score
y_pred_proba = model.predict_proba(X_test)[:, 1]
roc_auc = roc_auc_score(y_test, y_pred_proba)

In [131]:
roc_auc

0.8181818181818181

In [123]:
model1=KNeighborsClassifier(n_neighbors=3)
model1.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [124]:
y_pred1 = model1.predict(X_test)
y_pred1

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1])

In [125]:
y_pred_proba1 = model1.predict_proba(X_test)[:, 1]
roc_auc1 = roc_auc_score(y_test, y_pred_proba1)

In [126]:
roc_auc1

0.6547619047619049

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance', затем избавьтесь от пропусков.

Целевой переменной будет 'compliance', разделите данные на обучающую и тестовую выборки в соотношении 70%/30% без перемешивания.

Обучите DecisionTreeClassifier из scikit-learn с параметром random_state=23. Посчитайте значения метрики \(F1\) на тренировочной выборке и на тестовой выборке. Вычтите из значения метрики на тренировочной выборки значение метрики на тестовой выборке и запишите результат в переменную result.

In [132]:
train3 = pd.read_csv("train3.csv", encoding = 'ISO-8859-1', low_memory = False)

In [133]:
train3.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [134]:
train3 = train3[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]

In [135]:
train3

,fine_amount,state_fee,late_fee,discount_amount,balance_due,compliance
0,250.0,10.0,25.0,0.0,305.0,0.0
1,750.0,10.0,75.0,0.0,75.0,1.0
2,250.0,0.0,0.0,0.0,0.0,NaN
3,250.0,0.0,0.0,0.0,0.0,NaN
4,250.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...
250301,1000.0,0.0,0.0,0.0,0.0,NaN
250302,1000.0,0.0,0.0,0.0,0.0,NaN
250303,1000.0,0.0,0.0,0.0,0.0,NaN
250304,1000.0,0.0,0.0,0.0,0.0,NaN
250305,1000.0,0.0,0.0,0.0,0.0,NaN

In [136]:
train3.dropna(axis = 0, inplace=True)

In [137]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [139]:
X = train3.drop(columns=['compliance'])
y = train3['compliance']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, shuffle = False)

In [140]:
from sklearn.metrics import f1_score

In [141]:
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=23)

In [142]:
y_pred = clf.predict(X_train)
f1_train = f1_score(y_train, y_pred)
print('[train] F1-score = {:.2f}'.format(f1_train))

[train] F1-score = 0.66

In [148]:
y_pred = clf.predict(X_test)
f1_test = f1_score(y_test, y_pred)
print('[valid] F1-score = {:.2f}'.format(f1_val))

[valid] F1-score = 0.58

In [149]:
result = f1_train - f1_test

In [150]:
result

0.08055341409051786

In [152]:
from sklearn.model_selection import cross_validate
cv_metrics = cross_validate(clf, X, y, cv=5, scoring='f1_micro', return_train_score=True)

In [153]:
cv_metrics

{'fit_time': array([0.15236402, 0.13160205, 0.12716103, 0.15318108, 0.17171907]),
 'score_time': array([0.04426432, 0.04474497, 0.03678489, 0.04889297, 0.04664993]),
 'test_score': array([0.93269952, 0.95293345, 0.96290968, 0.95537278, 0.95531023]),
 'train_score': array([0.96351951, 0.96039217, 0.95794502, 0.95979797, 0.95991525])}

In [154]:
avg_f1_train, std_f1_train = cv_metrics['train_score'].mean(), cv_metrics['train_score'].std()
avg_f1_valid, std_f1_valid = cv_metrics['test_score'].mean(), cv_metrics['test_score'].std()
print('[train] F1-score = {:.2f} +/- {:.2f}'.format(avg_f1_train, std_f1_train))
print('[valid] F1-score = {:.2f} +/- {:.2f}'.format(avg_f1_valid, std_f1_valid))

[train] F1-score = 0.96 +/- 0.00
[valid] F1-score = 0.95 +/- 0.01

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance', затем избавьтесь от пропусков.

Обучим модель на несбалансированных данных. Целевой переменной будет 'compliance', разделите данные на обучающую и тестовую выборки в соотношении 70%/30% без перемешивания.

Обучите DecisionTreeClassifier из scikit-learn с параметром random_state=23. Посчитайте значения метрики \(F1\) на тренировочной выборке и на тестовой выборке.

Затем сделайте эту же выборку сбалансированной с помощью undersampling.

Для этого посчитайте количество примеров (n) класса-меньшинства, затем из класса-большинства возьмите n первых примеров.

То есть, в терминологии Python, возьмите срез (slice) от начала и до n, где n — количество примеров класса, которого в выборке представлено меньше.

Соедините две части выборки (с уменьшенным классом-большинством и с изначальным классом-меньшинством), сделайте точно такое же разбиение, как в задаче выше, и обучите такую же модель.

Посчитайте значение метрики \(F1\) на новой тестовой выборке с помощью новой модели. Вычтите из значения метрики на тестовой части сбалансированной выборки значение метрики на тестовой части несбалансированной выборки и запишите результат в переменную result.

In [7]:
train4 = pd.read_csv("train3.csv", encoding = 'ISO-8859-1', low_memory = False)

In [8]:
train4 = train4[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]

In [9]:
train4.dropna(axis = 0, inplace=True)

In [10]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [11]:
X = train4.drop(columns=['compliance'])
y = train4['compliance']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, shuffle = False)

In [12]:
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=23)

In [13]:
from sklearn.metrics import f1_score

In [14]:
y_pred = clf.predict(X_train)
f1_train = f1_score(y_train, y_pred)
print('[train] F1-score = {:.2f}'.format(f1_train))

[train] F1-score = 0.66

In [16]:
y_pred = clf.predict(X_test)
f1_test = f1_score(y_test, y_pred)
print('[valid] F1-score = {:.2f}'.format(f1_test))

[valid] F1-score = 0.58

In [17]:
train4['compliance'].value_counts()

0.0    148283
1.0     11597
Name: compliance, dtype: int64

In [19]:
a = train4[train4.compliance == 0][slice(0, 11597)]
b = train4[train4.compliance == 1]
train4_new = pd.concat([a, b])
X1 = train4_new.drop(['compliance'], axis = 1)
y1 = train4_new.compliance
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.3, shuffle = False)
clf = DecisionTreeClassifier(random_state=23)
model = clf.fit(X1_train, y1_train)
#y_pred_new = model.predict(X1_train)
#train_new = f1_score(y1_test, y_pred_new)
#result = train_new - train

In [20]:
y_pred_new = clf.predict(X1_train)
f1_train_new = f1_score(y1_train, y_pred_new)
print('[train] F1-score = {:.2f}'.format(f1_train_new))

[train] F1-score = 0.92

In [21]:
y_pred_new1 = clf.predict(X1_test)
f1_test_new = f1_score(y1_test, y_pred_new1)
print('[valid] F1-score = {:.2f}'.format(f1_test_new))

[valid] F1-score = 0.76

In [22]:
result = f1_test_new - f1_test

In [23]:
result

0.18272749967696011