In [781]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [782]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1077,tt1480656,20500000,6063556,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|...,David Cronenberg,How far can he go before he goes too far?,Riding across Manhattan in a stretch limo in o...,109,Drama,France 2 CinÃ©ma|TÃ©lÃ©film Canada|Rai Cinema|...,5/25/2012,4.8,2012
1540,tt0404390,15000000,9500000,Running Scared,Paul Walker|Cameron Bright|Vera Farmiga|Chazz ...,Wayne Kramer,Every bullet leaves a trail.,"After a drug-op gone bad, Joey Gazelle is put ...",122,Action|Crime|Drama|Thriller,International Production Company|True Grit Pro...,1/6/2006,6.8,2006
106,tt1791682,10000000,7587485,While We're Young,Ben Stiller|Naomi Watts|Adam Driver|Amanda Sey...,Noah Baumbach,Life Never Gets Old.,An uptight documentary filmmaker and his wife ...,97,Drama|Comedy,Scott Rudin Productions|A24,3/27/2015,5.9,2015
1173,tt0335563,5000000,2466444,Wonderland,Val Kilmer|Dylan McDermott|Kate Bosworth|Josh ...,James Cox,"Sex, drugs, murder. Welcome to L.A.","On the afternoon of July 1, 1981, Los Angeles ...",104,Crime|Drama|Mystery|Thriller,Lions Gate Films,10/23/2003,6.4,2003
1612,tt0296572,105000000,115772733,The Chronicles of Riddick,Vin Diesel|Christina Cox|Colm Feore|Karl Urban...,David Twohy,All the power in the universe can't change des...,Five years after the events in sci-fi film Pit...,119,Adventure|Action|Thriller|Science Fiction,Universal Pictures|One Race Productions|Primal...,6/11/2004,6.2,2004

In [783]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [784]:
answers = {} # создадим словарь для ответов

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
answers['2'] = '2. Gods and Generals (tt0279111)'
answers['3'] = '3. Winnie the Pooh (tt1449283)'
answers['4'] = '2. 110'
answers['5'] = '1. 107'
answers['6'] = '5. Avatar (tt0499549)'
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers['8'] = '1. 1478'
answers['9'] = '4. The Dark Knight (tt0468569)'
answers['10'] = '5. The Lone Ranger (tt1210819)'
answers['11'] = '3. Drama'
answers['12'] = '1. Drama'
answers['13'] = '5. Peter Jackson'
answers['14'] = '3. Robert Rodriguez'
answers['15'] = '3. Chris Hemsworth'
answers['16'] = '3. Matt Damon'
answers['17'] = '2. Action'
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
answers['19'] = '5. 2015'
answers['20'] = '1. 2014'
answers['21'] = '4. Сентябрь'
answers['22'] = '2. 450'
answers['23'] = '5. Peter Jackson'
answers['24'] = '5. Four By Two Productions'
answers['25'] = '3. Midnight Picture Show'
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Calculating movie profit
data['profit'] = data['revenue'] - data['budget']

# Task 12. Converting genres string into list
data['genres_split'] = data['genres'].apply(lambda x:x.split('|'))

# Task 13, 14. Converting directors string into list
data['director_split'] = data['director'].apply(lambda x:x.split('|'))

# Task 15, 17. Converting cast string into list
data['cast_split'] = data['cast'].apply(lambda x:x.split('|'))

# Task 21. Converting release_date string into list [mm, dd, yyyy]
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

# Adding a 'month' column to the dataframe
data['month'] = data['release_date'].apply(lambda x: x[0])

# Task 20, 24, 25. Converting production_companies string into list
data['prod_companies_split'] = data.production_companies.str.split("|")

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [785]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [787]:
data.loc[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [788]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [790]:
data.loc[data.runtime == data.runtime.max()][['original_title', 'runtime']]

         original_title  runtime
1157  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [791]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [792]:
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,month,prod_companies_split
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...",4,"[Walt Disney Pictures, Walt Disney Animation S..."

# 4. Какова средняя длительность фильмов?

In [793]:
# Check the mean value in describe() output
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

ВАРИАНТ 2

In [794]:
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [795]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [796]:
data.loc[data.profit == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,month,prod_companies_split
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...",12,"[Ingenious Film Partners, Twentieth Century Fo..."

ВАРИАНТ 2

In [797]:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [799]:
data.loc[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [616]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [800]:
# Count movies by title
data.original_title[data.revenue > data.budget].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [802]:
data[data.revenue == data[data.release_year == 2008].revenue.max()]
# We can get the titile of the movie by adding ['original_title'] to the code above

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,month,prod_companies_split
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...",7,"[DC Comics, Legendary Pictures, Warner Bros., ..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [803]:
data[data.profit == data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,month,prod_companies_split
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...",7,"[Walt Disney Pictures, Jerry Bruckheimer Films..."

ВАРИАНТ 2

In [804]:
data.loc[(data.release_year <= 2014) & (data.release_year >= 2012)].sort_values(by='profit').head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,month,prod_companies_split
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...",7,"[Walt Disney Pictures, Jerry Bruckheimer Films..."
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,"[7, 18, 2013]",5.3,2013,-68351500,"[Fantasy, Action, Comedy, Crime]",[Robert Schwentke],"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",7,"[Universal Pictures, Original Film, Dark Horse..."

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [805]:
data_genres = data.genres.str.cat(sep='|') # Concatenate all genres rows
genres_list = pd.Series(data_genres.split('|')) # Create a series of genres
genres_list.value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

In [806]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [808]:
data_12 = data.explode('genres_split')
data_12[data_12.profit > 0].genres_split.value_counts().head(1)

Drama    560
Name: genres_split, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [809]:
data_13 = data.explode('director_split')
data_13.groupby(['director_split']).revenue.sum().sort_values(ascending=False).head(1)

director_split
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [810]:
data_14 = data.explode('genres_split')
data_14 = data_14.explode('director_split')
data_14[data_14.genres_split == 'Action'].director_split.value_counts() \
.sort_values(ascending=False).head(3)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Name: director_split, dtype: int64

ВАРИАНТ 2

In [814]:
data_14_1 = data.explode('director_split')
data_14_1[data_14_1.genres.str.contains('Action', na=False)].director_split \
.value_counts().sort_values(ascending=False).head(2)

Robert Rodriguez      9
Paul W.S. Anderson    7
Name: director_split, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [815]:
data_15 = data.explode('cast_split')
data_15 = data_15[data_15.release_year == 2012]
data_15.groupby(['cast_split'])['revenue'].sum().sort_values(ascending=False).head(3)

cast_split
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [816]:
data_16 = data.explode('cast_split')
data_16 = data_16[data_16.budget > data_16.budget.mean()]
data_16.cast_split.value_counts().head(3)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Name: cast_split, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [817]:
data_17 = data.explode('cast_split')
data_17 = data_17[data_17.cast_split == 'Nicolas Cage']
data_17 = data_17.explode('genres_split')
data_17.genres_split.value_counts().head(1)

Action    17
Name: genres_split, dtype: int64

ВАРИАНТ 2

In [818]:
data_17 = data.explode('cast_split')
data_17 = data_17[data_17.cast_split == 'Nicolas Cage']
Counter(data_17.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [819]:
data[data.production_companies.str.contains("Paramount Pictures")].sort_values('profit').original_title.head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

ВАРИАНТ 2

In [820]:
data_pp = data[data.production_companies.str.contains("Paramount Pictures")].profit.min()
data.loc[data.profit == data_pp].original_title
# To get the whole table row we can use just
# data.loc[data.profit == data_pp]

925    K-19: The Widowmaker
Name: original_title, dtype: object

ВАРИАНТ 3

In [821]:
data_18 = data[data.production_companies.str.contains("Paramount Pictures")]
data_18[data_18['profit'] == data_18['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [822]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [823]:
data_20 = data[data.production_companies.str.contains("Warner Bros")]
data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(5)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [847]:
# Sorting a table by month and counting number of movies by original_title
data.groupby(['month'])['original_title'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [848]:
data[data.month.isin(['6','7','8'])].original_title.count()

450

ВАРИАНТ 2

In [849]:
data[(data.month == '6') | (data.month == '7') | (data.month == '8')].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [850]:
data[(data.month == '12') | (data.month == '1') | (data.month == '2')].director_split.value_counts().head(1)

[Peter Jackson]    7
Name: director_split, dtype: int64

ВАРИАНТ 2

In [851]:
data[data.month.isin(['12','1','2'])].director_split.value_counts().head(5).index[0]

['Peter Jackson']

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [852]:
data['title_length'] = data.original_title.apply(lambda x: len(x))
data_24 = data.explode('prod_companies_split')
data_24.groupby(['prod_companies_split'])['title_length'].mean().sort_values(ascending=False).head(5)

prod_companies_split
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [853]:
data['overview_words'] = data.overview.str.split(' ')
data['overview_words'] = data.overview_words.apply(lambda x: len(x))
data_25 = data.explode('prod_companies_split')
data_25.groupby(['prod_companies_split'])['overview_words'].mean().sort_values(ascending=False).head(3)

prod_companies_split
Midnight Picture Show             175.0
Room 9 Entertainment              161.0
Heineken Branded Entertainment    161.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [854]:
data_26 = data.sort_values('vote_average', ascending=False)
data_26[data_26.vote_average > data_26.vote_average.quantile(0.99)]['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
Name: original_title, dtype: object

In [855]:
# Count 1% of all movies
interval_right = round(len(data['imdb_id']) / 100)
# Get the top one percent of all movies by an index list
best_percent = data.vote_average.sort_values(ascending=False).index[:interval_right]
data.loc[best_percent]['original_title']

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
1563            Eternal Sunshine of the Spotless Mind
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [860]:
from itertools import combinations
data['together'] = data.cast_split.apply(lambda x: list(combinations(sorted(x), 2)))
data_27 = data.explode('together')
Counter(data_27.together).most_common(10)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6),
 (('Paul Walker', 'Vin Diesel'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

# Submission

In [861]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [774]:
# и убедиться что ни чего не пропустил)
len(answers)

27