In [ ]:
df_output['Cuisine Style'] = df_output['Cuisine Style'].apply(lambda x: x.replace('[',''))
df_output['Cuisine Style'] = df_output['Cuisine Style'].apply(lambda x: x.replace(']',''))
df_output['Cuisine Style'] = df_output['Cuisine Style'].apply(lambda x: x.replace(' ',''))
df_output['Cuisines List'] = df_output['Cuisine Style'].apply(lambda x: x.split(','))

In [1]:
import pandas as pd
df = pd.DataFrame([['f[] dc',3],['f [ ] gv',4]], columns=['col1','col2'])
display(df)
df.col1 = df.col1.apply(lambda x: x.replace('[','').
                        replace(']','').
                        replace(' ',''))
df

       col1  col2
0    f[] dc     3
1  f [ ] gv     4

  col1  col2
0  fdc     3
1  fgv     4

еще можно генератором списка разбить строку на символы, выбросить из него лишние элементы и склеить обратно в строку

In [2]:
import pandas as pd
df = pd.DataFrame([['f[] dc',3],['f [ ] gv',4]], columns=['col1','col2'])
display(df)
df.col1 = df.col1.apply(lambda x: ''.join([elem for elem in x if elem not in ['[',']',' ']]))
df

       col1  col2
0    f[] dc     3
1  f [ ] gv     4

  col1  col2
0  fdc     3
1  fgv     4

In [ ]:
lambda x: x.replace('[','').replace(']','').replace(' ','').split(',')

In [ ]:
lambda x: ''.join([elem for elem in x if elem not in ['[',']',' ']]).split(',')