In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [108]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
284,tt1078940,70000000,171844840,Couples Retreat,Vince Vaughn|Malin Ã…kerman|Jason Bateman|Kris...,Peter Billingsley,It may be paradise... but it's no vacation.,"Four couples, all friends, descend on a tropic...",113,Comedy|Romance,Universal Pictures|Wild West Picture Show Prod...,9/19/2009,5.3,2009
314,tt1045772,13000000,10652035,I Love You Phillip Morris,Jim Carrey|Ewan McGregor|Leslie Mann|Rodrigo S...,Glenn Ficarra|John Requa,The Conman who wouldn't go straight.,Bad Santa co-screenwriters Glenn Ficara and Jo...,98,Comedy|Drama|Romance,EuropaCorp,1/18/2009,6.3,2009
258,tt1001508,40000000,177259441,He's Just Not That Into You,Jennifer Aniston|Jennifer Connelly|Drew Barrym...,Ken Kwapis,Are you the exception...or the rule?,Remember that really cute guy who said he'd ca...,129,Comedy|Romance|Drama,New Line Cinema|Flower Films (II)|Internationa...,2/6/2009,6.0,2009
509,tt0252866,30000000,287553595,American Pie 2,Jason Biggs|Thomas Ian Nicholas|Chris Klein|Se...,J.B. Rogers,This Summer It's All About Sticking Together.,The whole gang are back and as close as ever. ...,108,Comedy|Romance,Universal Pictures|Liveplanet|Zide-Perry Produ...,8/10/2001,5.9,2001
501,tt0126029,60000000,484409218,Shrek,Mike Myers|Eddie Murphy|Cameron Diaz|John Lith...,Andrew Adamson|Vicky Jenson,The greatest fairy tale never told.,It ain't easy bein' green -- especially if you...,90,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/16/2001,7.1,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [19]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [21]:
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

In [ ]:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))  а потом Counter(data.explode('genres')['genres']).most_common(1)

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]
string = data.genres.str.cat(sep='|')
divide = pd.Series(string.split('|'))
И просто считаем количество жанров
divide.value_counts().head()
Можно это сделать с помощью Counter:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

Добрый вечер.
Разделяете жанры.
Применяете explode
Оставляете те жанры, у которых профит >0
Считаете значения
Вместо 2 и 4 можно пройтись по столбцу в цикле и посчитать жанры с помощью collection.Counter, но так дольше )

In [22]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))

In [24]:
display(data['genres'])

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [30]:
data = pd.read_csv('movie_bd_v5.csv')
display(data['genres'])
type(data['genres'][0])

0       Action|Adventure|Science Fiction|Thriller
1       Action|Adventure|Science Fiction|Thriller
2              Adventure|Science Fiction|Thriller
3        Action|Adventure|Science Fiction|Fantasy
4                           Action|Crime|Thriller
                          ...
1884             Adventure|Action|Science Fiction
1885                        Horror|Family|Foreign
1886     Adventure|Animation|Action|Comedy|Family
1887                                 Comedy|Drama
1888                                     Thriller
Name: genres, Length: 1889, dtype: object

str

In [32]:
type(data['genres'][0])

str

In [34]:
type(data['director'][0])

str

In [36]:
data['director'] = data['director'].apply(lambda x:x.split('|'))
data_13 = data.explode('director')
display(data_13)
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

AttributeError: 'list' object has no attribute 'split'

In [38]:
data_13.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [50]:
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data_14 = data.explode('director')
data_14 = data.explode('genres')

In [67]:
data['director'] = data['director'].apply(lambda x:x.split('|'))
data_14 = data.explode('director')
data_14['genres'] = data_14['genres'].apply(lambda x:x.split('|'))
data_14 = data_14.explode('genres')
display(data_14)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Adventure,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Science Fiction,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Comedy,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [69]:
data['director'] = data['director'].apply(lambda x:x.split('|'))
data_14 = data.explode('director')
data_14[data_14.genres.str.contains("Action")].director.value_counts().sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Patrick Tatopoulos    1
John A. Davis         1
Karyn Kusama          1
Jon Amiel             1
Jay Chandrasekhar     1
Name: director, Length: 364, dtype: int64

Вам нужно отобрать фильмы 2012 года.
Затем из них отобрать те фильмы, кассовые сборы которых выше среднего значения.
Потом для каждого актера из этих фильмов посчитать, в скольки фильмах он принял участие. Актер снявшийся в большем количестве фильмов и есть искомый актер

In [73]:
data_2012 = data[(data.release_year == 2012) & (data.revenue == data.revenue.sum())]
display(data_2012)

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year]
Index: []

In [75]:
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_15 = data.explode('cast')
display(data_15)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Bryce Dallas Howard,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Irrfan Khan,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Vincent D'Onofrio,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Nick Robinson,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Lori Heuring,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Matthew Settle,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Nathan Bexton,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Tess Harper,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [79]:
data_15.groupby(['cast'])['revenue'].sum()

cast
50 Cent                    338878201
A.J. Cook                   90426405
Aaliyah                    136515870
Aamir Khan                  70000000
Aaran Thomas                82169884
                             ...
ZoÃ« Bell                   25037897
ZoÃ« Borde                 108782847
ZoÃ« Kravitz               243843127
Zuleikha Robinson          108103450
Ã“lafur Darri Ã“lafsson    140396650
Name: revenue, Length: 3406, dtype: int64

In [86]:
data_15 = data[data.release_year == 2012]
display(data_15)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
971,tt1496025,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Lakeshore Entertainment|Saturn Films|Screen Ge...,1/19/2012,6.0,2012
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,7.5,2012
973,tt1853728,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.","With the help of a German bounty hunter, a fre...",165,Drama|Western,Columbia Pictures|The Weinstein Company,12/25/2012,7.7,2012
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,tt1433822,17000000,9627492,The Apparition,Ashley Greene|Sebastian Stan|Tom Felton|Julian...,Todd Lincoln,Once You Believe You Die,Plagued by frightening occurrences in their ho...,82,Horror|Thriller,StudioCanal|Dark Castle Entertainment|Warner B...,8/23/2012,4.4,2012
1077,tt1480656,20500000,6063556,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|...,David Cronenberg,How far can he go before he goes too far?,Riding across Manhattan in a stretch limo in o...,109,Drama,France 2 CinÃ©ma|TÃ©lÃ©film Canada|Rai Cinema|...,5/25/2012,4.8,2012
1078,tt1855325,65000000,240159255,Resident Evil: Retribution,Milla Jovovich|Sienna Guillory|Michelle Rodrig...,Paul W.S. Anderson,The Ultimate Battle Begins,The Umbrella Corporationâ€™s deadly T-virus co...,95,Action|Horror|Science Fiction,Davis-Films,9/12/2012,5.6,2012
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,TriStar Pictures|Phoenix Pictures|Stage 6 Film...,8/17/2012,5.9,2012
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012

In [92]:
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_15 = data.explode('cast')
data_15 = data_15[data_15.release_year == 2012]
display(data_15)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
970,tt0848228,220000000,1519557910,The Avengers,Chris Evans,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
970,tt0848228,220000000,1519557910,The Avengers,Mark Ruffalo,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
970,tt0848228,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
970,tt0848228,220000000,1519557910,The Avengers,Scarlett Johansson,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Katy Perry,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Russell Brand,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Shannon Woodward,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Rachael Markarian,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Mia Moretti,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,Paramount Pictures|Imagine Entertainment|MTV F...,6/28/2012,6.5,2012

In [96]:
data_15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [109]:
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_16 = data.explode('cast')
display(data_16)
#data.revenue > data.revenue.mean()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Bryce Dallas Howard,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Irrfan Khan,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Vincent D'Onofrio,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Nick Robinson,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Lori Heuring,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Matthew Settle,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Nathan Bexton,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Tess Harper,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [104]:
data_16 = data_16[data_16.budget > data_16.budget.mean()]
display(data_16)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Bryce Dallas Howard,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Irrfan Khan,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Vincent D'Onofrio,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
0,tt0369610,150000000,1513528810,Jurassic World,Nick Robinson,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857,tt0177971,120000000,325756637,The Perfect Storm,George Clooney,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
1857,tt0177971,120000000,325756637,The Perfect Storm,Mark Wahlberg,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
1857,tt0177971,120000000,325756637,The Perfect Storm,Diane Lane,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
1857,tt0177971,120000000,325756637,The Perfect Storm,John C. Reilly,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000
1857,tt0177971,120000000,325756637,The Perfect Storm,William Fichtner,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000

In [110]:
data_16[data_16.budget > data_16.budget.mean()]['cast'].value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Samuel L. Jackson        15
Eddie Murphy             15
                         ..
Christopher Eccleston     1
Lymari Nadal              1
Karin Konoval             1
John Hawkes               1
Jay Chou                  1
Name: cast, Length: 1505, dtype: int64

In [116]:
data_16.loc[data_16['budget'] > data_16['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Samuel L. Jackson        15
Eddie Murphy             15
                         ..
Christopher Eccleston     1
Lymari Nadal              1
Karin Konoval             1
John Hawkes               1
Jay Chou                  1
Name: cast, Length: 1505, dtype: int64

In [112]:
data = pd.read_csv('movie_bd_v5.csv')
data_16 = data[data.budget > data.budget.mean()]
Counter(data_16.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]

In [115]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_16 = data.explode('cast')
data_16[data_16.budget > data_16.budget.mean()]['cast'].value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Samuel L. Jackson        15
Eddie Murphy             15
                         ..
Christopher Eccleston     1
Lymari Nadal              1
Karin Konoval             1
John Hawkes               1
Jay Chou                  1
Name: cast, Length: 1505, dtype: int64

In [117]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data_17 = data.explode('cast')
data_17 = data_17[data_17.cast == 'Nicolas Cage']
data_17['genres'] = data_17['genres'].apply(lambda x:x.split('|'))
data_17_genres = data_17.explode('genres')
data_17_1 = data_17_genres.genres.value_counts()
display(data_17_1)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
Name: genres, dtype: int64

In [122]:
data = pd.read_csv('movie_bd_v5.csv')
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [120]:
type(data['cast'][0])

str

In [121]:
len('Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan')

83